<table class="table">
    <tbody>
    <tr>
      <td>диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
     <tr>
      <td>тип дисплея</td>
      <td>{{ product.display_type }}</td>
    </tr>
     <tr>
      <td>частота процессора</td>
      <td>{{ product.processor_freq }}</td>
    </tr>
     <tr>
      <td>оперативная память</td>
      <td>{{ product.ram }}</td>
    </tr>
     <tr>
      <td>видеокарта</td>
      <td>{{ product.video }}</td>
    </tr>
     <tr>
      <td>время работы аккамулятора</td>
      <td>{{ product.time_without_charge }}</td>
    </tr>
  </tbody>
</table>

